body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    padding-left: 80px;
}

.contact {
    font-size: 12px;
    font-weight: 100;
    align-items: baseline;
    padding-right: 80px;
}

.main-content {
    display: flex;
    height: 500px;
    border-bottom: 1px solid #ddd;
}

.left, .right {
    flex: 1;
    padding: 20px;
}

.right {
    margin-right: 90px;
    padding-top: 40px;
    margin-top: 40px;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.right h4 {
    color: #777777;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 18px;
}

.image-container {
    position: relative;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

.image-container h1,
.image-container p {
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
}

.image-container h1 {
    top: 20%;
    font-size: 34px;
    font-weight: 700;
    right: 23%;
}

.image-container p {
    top: 40%;
    font-size: 18px;
    margin-top: 30px;
    left: 2%;
}

form {
    display: flex;
    height: 100%;
}

.left-form, .right-form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#first-name {
    margin-bottom: 18px;
    margin-right: 22px;
}

#contact {
    margin-bottom: 18px;
    margin-right: 22px;
}

#organization {
    margin-bottom: 18px;
}

#email {
    margin-bottom: 18px;
}

#comments {
    margin-right: 22px;
    padding-bottom: 80px;
}

.check-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eeeeee;
    box-shadow: rgb(215, 215, 215);
    justify-content: space-around;
    margin-bottom: 22px;

}

#checkb {
    transform: scale(2);
}

.lf-in {
    background-color: #f3f3f3;
    color: #c4c4c4;
}

.rf-in {
    background-color: #f3f3f3;
    color: #c4c4c4;
}
#btw{
    background: #000;
    height: 50px;
    width: 180px;
    border-radius: 7px;
    color: white;
}
#btw:hover{
    color: rgb(202, 202, 202);
}

label {
    margin-top: 10px;
}

input, textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #f3f3f3;
    border-radius: 4px;
}

.map-content {
    padding: 0px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 120px;
}

.map {
    width: 100%;
}

.img-text {
    height: 170px;
    width: 250px;
}

.image-gallery1, .image-gallery2 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.help-control {
    text-align: center;
    padding: 50px 20px;
    margin-bottom: 90px;
}

.help {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.demo {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
}
.demo:hover{
    box-shadow: 1px 1px #f7f7f7;
    background-color: #f1f0f0;
}

.demo img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.demo h2, .demo h3 {
    margin: 0;
}

.h3t{
    font-size: 15px;
    font-weight: 400;
    color: #777777;
}
.h2t{
    color: red;
    font-size: 16px;
    font-weight: 700;
}




.footer {
  background-color: black;
  position: relative;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.footer-logo {
  width: 100px; 
}

.rec {
  position: absolute;
  top: -50px; 
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.rec-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.rec-content h2 {
  margin: 0;
  font-size: 16px;
  color: black;
}

.subscribe-container {
  display: flex;
  align-items: center;
}

.subscribe-input {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-right: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  outline: none;
}

.subscribe-button {
  padding: 10px 20px;
  background-color: grey;
  color: white;
  border: 1px solid grey;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  outline: none;
}


.footer {
    background-color: black;
    position: relative;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .footer-logo {
    width: 100px; 
  }
  
  .rec {
    position: absolute;
    top: -50px; 
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 100px;
    background-color: rgb(235, 15, 15);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
border-top-left-radius: 40px;
border-bottom-right-radius: 40px;
  }
  
  .rec-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .rec-content h2 {
    margin: 0;
    font-size: 21px;
    color: white;
    margin-left: 50px;
  }
  
  .subscribe-container {
    display: flex;
    align-items: center;
  }
  
  .subscribe-input {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 20px 0 0 20px;
    outline: none;
    font-weight: 400;
  }
  
  .subscribe-button {
    padding: 10px 20px;
    background-color: rgb(37, 35, 35);
    color: white;
    border: 1px solid rgb(37, 35, 35);
    border-left: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    margin-right: 50px;
  }

.footer-logo{
    height: 50px;
    width: 300px;
    margin-top: 110px;
    margin-bottom: 70px;
}




/*media query start here for responsivness*/
@media (max-width: 786px) {
    .contact {
      display: none;
    }
  
    .main-content {
      flex-direction: column;
      height: auto; 
    }
  
    form {
      flex-direction: column;
      height: auto; 
  
    .left-form, .right-form {
      flex: none;
      width: 100%;
    }
  
    .left-form input,
    .right-form input,
    .left-form textarea,
    .check-box {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    #comments {
      height: auto; 
    }
  
    .rec {
      width: 90%;
      top: -25px; 
      flex-direction: column;
    }
  
    .subscribe-button {
      border-radius: 0 20px 20px 0;
    }
  
    .footer-logo {
      width: 80%; 
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .rec-content{
        flex-direction: column;
    }
    .rec-content h2{
        font-size: 17px;
    }
  }}
/*media query end here for responsivness*/






  .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
  }
  
  .error {
    border-color: red;
  }
  
  .success-message {
    color: green;
    font-size: 1em;
    margin-bottom: 10px;
    text-align: center;
  }
  